* {
    margin: 0%;
    padding: 0;
    color: #F9F6F5;
}

body {
    background-color: #F9F6F5;
    font-family: "Lato", sans-serif;
}

.subnav h1 {
    font-size: 38px;
    opacity: 1;
}
.subnav li:hover{
    opacity: .9;
}
.subnav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #54B4A6;
    height: 100px;
}

a,
li,
h1 {
    all: inherit;
    cursor: pointer;
    font-size: 30px;
}

main {
    height: 1000px;
    background: #F9F6F5;
}

footer {
    height: 225px;
    background-color: #54B4A6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .names {
    font-size: 25px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');